<%- include('header'); -%>
<link rel="stylesheet" href="/css/style.css" />


<div class="container">
  <div id="map">

  </div>
</div>



        <center> <img src="logo.png" alt="logo du site" id="logo"></center>
      

      <section>
        <div class="container">
            <div class="row">
              <div class="list-group">
                <% for(var attributename in data){%>  
                <div href="#" class="list-group-item list-group-item-action">
                  <h5 class="mb-1"><%= data[attributename].name %></h5>
                  <p class="mb-1"><%= data[attributename].Menu %></p>
                  <small class="text-muted"><a href="/order/commander/<%= attributename %>">Commander</a></small>

                </div>
                
              
                <% } %>
              </div>
            </div>
        </div>
      </section>




      




	  <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
	  <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJMhqQueSoVPQyVavQgkk9w_1a1-bKjkE&callback=initMap&libraries=&v=weekly"
      async
    ></script>

    <script type="text/javascript" src="/js/main.js"></script>

      <%- include('footer') -%>
