<%- include('header'); -%>

<link rel="stylesheet" href="/css/style.css" />
      



<div id="contenue">
  <div class="container">
    <div class="row">
      <p class="font-weight-bold text-center" style="background-color: #e3f2fd; padding-top: 10px; padding-bottom: 10px;"><strong>Statistics de commande </strong></p><hr>
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="text-center">
          <h2 class="h1 mb-0" id="rest_preparer"><%- obj_o.rest_preparer %></h2>
          <p><strong>Restant à préparer</strong></p>
        </div>
      </div>
          
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="text-center">
          <h2 class="h1 mb-0" id="rest_enlever"><%- obj_o.rest_enlever %></h2>
          <p><strong>Préparer mais pas enlever</strong></p>
        </div>
      </div>
          
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="text-center">
          <h2 class="h1 mb-0" id="deja_enlever"><%- obj_o.deja_enlever %> </h2>
          <p><strong>Répas déjà enlevés</strong></p>
        </div>
      </div>
    </div>
    <div class="row">
      
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="text-center">
          <h2 class="h1 mb-0" id="deja_livrer"><%- obj_o.deja_livrer %> </h2>
          <p><strong>Répas déjà livrer</strong></p>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 mb-4">
        <div class="text-center">
          <h2 class="h1 mb-0" id="heureMiseAjour"><%- obj_o.heureMiseAjour %></h2>
          <p><strong>Derniere mise à jour</strong></p>
        </div>
      </div>


      <div class="col-lg-4 col-md-12 mb-4">
        <div class="text-center">
          <a class="btn btn-primary alert btn-outline-danger" href="/gestionaires/vidercommandes" style="color: #e3f2fd;"> Vider les commandes</a>
        </div>
      </div>
    </div>
      
  </div>
  
  <div class="container">
    
    <div class="row">
      <p class="font-weight-bold text-center" style="background-color: #e3f2fd;margin-top: 30px;margin-bottom: 30px;padding-top: 10px; padding-bottom: 10px;"><strong>Nouvelle Commande </strong></p><hr>
    </div>
    <div class="row">
      
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Date et heure commande</th>
                <th scope="col">L’adresse de livraison</th>
                <th scope="col">Nom du restaurant</th>
                <th scope="col">Date et heure preparation</th>
                <th scope="col">Nom du livreur</th>
                <th scope="col">Date et heure de l'enlèvement</th>
                <th scope="col">Date et heure de la livraison</th>
                <th scope="col">L’état de la commande.</th>
              </tr>
            </thead>
            <tbody id="table-body">
            <% if (obj_o.data.length == 0) { %>
              <tr><td id="">Aucune Commande n'a encore été enregistré pour ce restaurant</td></tr>
                <% } else { %>
            <% for(var attributename in obj_o.data){%>
              <tr>
                <td class="date_debut" scope="row"><%= obj_o.data[attributename].date_debut %></td>
                <td class="adresse"><%= obj_o.data[attributename]["user-rue"] %> <%= obj_o.data[attributename]["user-nbboite"] %> <%= obj_o.data[attributename]["user-Cp"] %> <%= obj_o.data[attributename]["user-Commune"] %></td>
                <td class="user-nbrepas"><%= obj_o.data[attributename].restaurant["name"] %></td>
                <td class="user-nbrepas"><%= obj_o.data[attributename]["date_prepararion"] %></td>
                <td class="user-nbrepas"><%= obj_o.data[attributename].livreur["nom"] %> <%= obj_o.data[attributename].livreur["prenom"] %></td>
                <td class="user-nbrepas"><%= obj_o.data[attributename]["date_enlevement"] %></td>
                <td class="user-nbrepas"><%= obj_o.data[attributename]["date_livraison"] %></td>
                <td class="user-nbrepas"><%= obj_o.data[attributename]["statusString"] %></td>
                
                
                <td><a class="prep_btn" attrib_id ="<%= obj_o.data[attributename].idCommande %>">Annuler</a></td>
              </tr>
              
            <% } %>
            </tbody>
          </table>
        <% } %>
    </div>


    <script type="text/javascript" src="/js/gestionnaires.js"></script>
  </div>
</div>





<%- include('footer') -%>
